/*OVERALLS*/
html{
  background-image: linear-gradient(#38b7fe, white);
  background-repeat:initial;
}

*{
  background-color: #38b7fe;
  margin: 0;
  padding: 0;
}
div, p, a, li, nav, form{
  background-color: transparent;
}
.logo-landing{
  background-image: url(./LoggedOutAssets/logo-landing.png);
  width: 400px;
  height: 400px;
  display: flex;
  border: none;
  align-items: center;
  background-color: transparent;
}
.lp-left,
.lp-right{
  flex: 1;
  padding: 5px; /* Add padding or adjust as needed */
  margin: 5px;
  width: 450px;
}
.btnGetStarted{
  background-color: #38b7fe;
  border: none;
  color: white;
  border-radius: 50px;
  width: 300px;
  padding: 20px;
  font-size: 30px;
  font-family: 'Bangers';
  cursor: pointer;
}

.btnGetStarted:hover{
  background-color: #004dad;
}

a{
  color: black;
}

a:hover{
  color: #004dad;
}

.logo-sign{
  background-image: url(./LoggedOutAssets/logo-sign.png);
  width: 400px;
  height: 369px;
  background-color: transparent;
}
.lbl-form{
  background-color: transparent;
  color: grey;
  font-size: 15px;
  text-align: left;
}
.input-form{
  background-color: white;
  border: 1px solid #004dad;
  padding: 10px;
  border-radius: 30px;
  width: 135px
}

.input-form2{
  background-color: white;
  border: 1px solid #004dad;
  padding: 10px;
  border-radius: 30px;
  width: 200px;

}

.btnSign{
  padding: 10px;
  border: none;
  background-color: #2b6bb0;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  width: 200px;
  font-family: 'Bangers';
}

.btnSign:hover{
  background-color: #38b7fe;
  
}

.signing-icon{
  color:#004dad;
  width: 30px; 
  height: 30px;
  background-color:transparent;
  left: 20px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-container1{
  background-color: white;
}

.birb1{
  background-image: url(./LoggedOutAssets/birb1.png);
  height: 181px;
  width: 174px;
}

.input-div{
  align-items: center; /* Center content horizontally */
  display: flex;
}

.su-group{
  display: flex;
}

.input-div2{
  align-items: center; /* Center content horizontally */
  display: flex;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.long-input{
  background-color: white;
  border: 1px solid #004dad;
  padding: 10px;
  border-radius: 30px;
  width: 300px
}

.password-requirements{
  color: red;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}