/*FOR ALL*/
h1, div, p, button{
  background-color: transparent;
}
.align{
  display: flex;
}

/*LOG OUT CONFIRM PAGE*/
.loh{
  font-family: 'Bangers';
  color: #0745A3;
  font-size: 50px;
  text-align: center;
}
.lod{
  background-color: #67E4FF;
  padding: 30px;
  width: 400px;
  border-radius: 50px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logout-msg{
  font-family: 'Love Ya Like A Sister';
  color: #0745A3;
  font-size: 30px;
  margin-top: 20px;
}
.logout-birb{
  background-image: url(./logoutconfirm.png);
  width: 100px;
  height: 100px;
}
.lod-cancel{
  border: 5px solid #2B6BB0;
  background-color: white;
  color: #2B6BB0;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  font-family: 'Bangers';
  cursor: pointer;
  font-size: 30px;
  width: 150px;
}
.lod-cancel:hover{
  color: #e6a733;
  border: 5px solid #e6a733;
}
.lod-logout{
  border: 5px solid #2B6BB0;
  background-color: #2B6BB0;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  font-family: 'Bangers';
  cursor: pointer;
  font-size: 30px;
  width: 150px;
}
.lod-logout:hover{
  border: 5px solid #e6a733;
  background-color: #e6a733;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-container {
  background-color: #67E4FF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*HOME HEADER*/
.hh-container{
  background-color: #FBB52E;
  border-radius: 30px 0px 0px 0px;
  padding: 20px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hh-greet{
  color: white;
  font-family: 'Bangers';
  float: left;
}
.hh-container2{
  background-color: white;
  border-radius: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  float: right;
  padding: 10px;
  width: 200px;
  justify-content:center;
}
.hh-icon{
  background-color: transparent;
  cursor: pointer;
}
.dropdown-container {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: -15px;
  background-color: #fff; /* Set your desired background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
  z-index: 1; /* Set a higher z-index to make sure it appears on top */
  width: 200px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  color: #333; /* Set your desired text color */
}

.dropdown-content p:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.dropdown-container:hover .dropdown-content {
  display: block; /* Show dropdown content on hover */
}
